<!DOCTYPE html>
<html lang="en">

<head>

  <title>Celluloid Monitor</title>

</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <a class="navbar-brand">Celluloid Monitor</a>
      </div>

      <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <a ng-click="type = 1"><i class="fa fa-dashboard fa-fw"></i> Local Console</a>
              </li>

              <li>
                <a ng-click="type = 2"><i class="fa fa-dashboard fa-fw"></i> Demo Console</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <console type={{type}}></console>

  </div>
  <!-- /#wrapper -->

</body>

</html>
